<!DOCTYPE html>
<html>

    <head>

        <title>Login page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="chat.css">

    </head>

    <body>

        <h1 class="expense-heading">web-chat-application</h1>

        <div id="container" class="container">

            <h5 class="chat-head">You joined</h5>
            <h5 class="chat-head2">Abhishek joined</h5>
            <h5 class="chat-head">Abhishek: hello</h5>
            <h5 class="chat-head2">You: hi there</h5>
            <h5 class="chat-head">Abhishek: what is up</h5>
            <h5 class="chat-head2">Abhishek all good</h5>
        
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script src="chat.js"></script>
    </body>

</html>