<!DOCTYPE html>
<html>

    <head>

        <title>Chats</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="group.css">

    </head>

    <body>

        
        <div id="container" class="containers">

            <div class="chat-app-div" class="chatApp">

                <h1 class="expense-heading">web-chat-application</h1>
                <ul class="chat-head" id="chat-head"></ul>
                <ul class="chat-grps" id="chat-grp">
                    <button class="btn-success" id="grpbtn">New Group</button>
    
    
                </ul>
                <ul class="chat-msg" id="chat-msg">
                </ul>
        
        </div>

        <div class="popup-container" id="container">
            <div class="popup">
                <form class="message-text" onsubmit="createNewGroup(event)">
                    <label for="group-name" >Enter Group Name</label><br>
                    <input type="text" id="grpName" ><br>
                    <div id="check-box" id="check-box"></div>
                    <button type="submit" id="newgroupbtn" class="btn-success">Create</button>
                </form>
    
            </div>
        </div>

        </div>

        <form class="message-form" onsubmit="chat(event)">

            <input class="message-text" type="text" name="messages" placeholder="send your message" id="msg-input" required>
            <button class="btn-success" id="send-btn">Send message</button>
            

        </form>

        <button class="btn-success"><a href = "../group/group.html">Group Chat</a></button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script src="group.js"></script>
    </body>

</html>