body{

    background-image: url("web-chat.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.forms{

    border: 3px solid black;
    /* display: flex; */
    text-align: center;
    margin-top: 100px;
    height: 400px;
    width: 600px;
    margin-left: 250px;
    border-radius: 5px;
    background-color: white;

}

#container {
    height: 100%;
    /* border: 2px solid black; */
}

.form1 {

    font-weight: bold;
    font-size:x-large

}

.form2{

    width: 400px;
    height: 35px;
    border-radius: 5px;

}

#form3 {

    height: 40px;
    width: 100px;
    border-radius: 4px;

}

.for-link {

    color: white;
    text-decoration: none;

}

.for-link:hover {
    background-color: none;
    color: white;
    text-decoration: none;
}

.expense-heading {

    color: white;
    margin-left: 365px; 
    margin-top: 100px;

}