<!DOCTYPE html>
<html>

    <head>

        <title>Login page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="login.css">

    </head>

    <body>

        <h1 class="expense-heading">web-chat-application</h1>

        <div id="container" class="container">

            <form class="forms" onsubmit="login(event)">

                <label class="form1">Enter your email Id</label><br>
                <input class="form2" type="email" name="email" placeholder="Enter your email" requried><br>
                <label class="form1">Enter your password</label><br>
                <input class="form2" type="password" name="password" placeholder="Enter your password" required><br><br>
                <button id="form3" class="btn-success">Login</button>
                <button id="form3" class="btn-success"><a class="for-link" href="../signup/signup.html">Sign up</a></button>

            </form><br>

            <button id="forgots" class="btn-success" onclick="resetpassword()"> Forgot password</button>

        
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script src="login.js"></script>
    </body>

</html>