.container{
    max-width: 955px;
    background-color: white;
    margin:auto;
    height:100vh;
}
.message{
    background-color:white;
    width:24%;
    padding:10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;
    color: black;
}
.list-group-item{
    display:block;
    padding: 1px;
    clear:both;
    background-color:white;
    width:14%;
    border:2px solid black;
    border-radius: 10px;
    color: black;
    margin-left: 330px;
    background-color: aquamarine;
}
.right{
    float:right;
    clear:both;
}
body{
    height:150vh;
    background-image: url("web-chat.jpeg");
}
#send-container{
   text-align: center; 
   display: block;
   margin:auto;
   max-width: 985px;
   width:100%
}
#messageinp{
    width:92%;
    border:2px solid black;
    border-radius:6px;
    height:34px;
}
.btn{
    cursor:pointer;
    border-radius:5px;
    height:34px;
    margin-top: 30px;
    border: 1px solid white;
}
h2{
    text-align: center;
    color:white;
}
ul li{
    list-style-type: none;
}
#msg-header-user-id{
    border-radius: 24%;
}

.header-flex {

    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    background-color: rgb(160, 158, 95);
    border-radius: 5px;
    height: 100px;

}

#left {
    background-color:gray;
    text-align: center;
    height: 100%;
}

#create-container {
    text-align: center;
    margin-right: 60px;
}

.div-data {

    text-align: center;

}

#div-dataid{
    margin-left: 350px;
}

#div-dataid2{
    margin-left: 320px;
}

#created-group-show{

    text-align: center;

}

#list-of-all-contacts{
    text-align: center;
}